**[RBD-1150] Ingesta comentarios ReviewPRO**

In [1]:
import pandas as pd

In [2]:
from connect_py.Connect import Connect

api_key = "***********"
api_sec = "***********"

connect = Connect(api_key, api_sec)

In [3]:
pids = connect.fetchPidsForAccount()
df_pids = pd.DataFrame(pids)
df_pids.head()

      id               name
0  17043   Meliá Maria Pita
1  17058  TRYP Coruna Hotel
2  17242     Meliá Lebreros
3  17271      Meliá Granada
4  17282   Sol Los Fenicios

In [6]:
pid = "17043"
start = '2018-06-01'
end = '2018-06-02'

In [8]:
summaries = connect.fetchReviewSummaries(pid, start, end)
df_summaries = pd.DataFrame(summaries['reviews'])
df_summaries

,Overall%,OverallOutOf,lang,opinionResponded,publishedDate,reviewId,source
0,79.0,10,NaN,False,1527897600000,9_m5jh955vOAEigprPTpZoow-1,97
1,88.0,10,en,True,1527897600000,9_2f35eb5d885a4210,97
2,100.0,5,es,True,1527897600000,bjQYJaqcT6vZ1DtTu83Z1A,338
3,60.0,5,NaN,True,1527811200000,ClbYwU4Pk8QViy6wqnaLGw,338
4,67.0,10,NaN,False,1527811200000,9_GaSJpHMVysMr9R1k6hQmRw-1,97
5,80.0,5,NaN,True,1527811200000,9JT_eevUc2oVU5VLDga6kQ,338
6,97.8,100,es,False,1527811200000,gss_fP6H7XyBitxv8dvPWxEMzZkyuuACuaEE,15749
7,68.2,100,es,False,1527811200000,gss_GwYbOIqhHV2kaMf-WwUvT5kyrRv8ypiG,15749

In [9]:
mentions = connect.fetchSemanticMentionsDetails(pid, start, end)
df_mentions = pd.DataFrame(mentions)
df_mentions

,concepts,country,date,hotel,id,language,mention,phrase,reviewId,reviewRating,reviewer,score,sentimentPositive,source
0,"[{'name': 'room', 'id': 2, 'category': {'name'...",GB,2018-06-02,"{'name': 'Meliá María Pita', 'id': 17043}",9_2f35eb5d885a4210_1,en,loved the view from our room,Positive: loved the view from our room.,9_2f35eb5d885a4210,"{'value': 8.8, 'outOf': 10}",Maria,0.880,True,Booking
1,"[{'name': 'room', 'id': 2, 'category': {'name'...",None,2018-06-02,"{'name': 'Meliá María Pita', 'id': 17043}",bjQYJaqcT6vZ1DtTu83Z1A_2,es,habitaciones son cómodas,Privilegiada ubicación con unas vistas precios...,bjQYJaqcT6vZ1DtTu83Z1A,"{'value': 5.0, 'outOf': 5}",Enrique Rodriguez,1.000,True,Google
2,"[{'name': 'location', 'id': 32807, 'category':...",None,2018-06-02,"{'name': 'Meliá María Pita', 'id': 17043}",bjQYJaqcT6vZ1DtTu83Z1A_1,es,ubicación con unas vistas preciosas,Privilegiada ubicación con unas vistas precios...,bjQYJaqcT6vZ1DtTu83Z1A,"{'value': 5.0, 'outOf': 5}",Enrique Rodriguez,1.000,True,Google
3,"[{'name': 'staff', 'id': 32835, 'category': {'...",None,2018-06-02,"{'name': 'Meliá María Pita', 'id': 17043}",bjQYJaqcT6vZ1DtTu83Z1A_3,es,personal muy amable,Privilegiada ubicación con unas vistas precios...,bjQYJaqcT6vZ1DtTu83Z1A,"{'value': 5.0, 'outOf': 5}",Enrique Rodriguez,1.000,True,Google
4,"[{'name': 'service', 'id': 32834, 'category': ...",None,2018-06-01,"{'name': 'Meliá María Pita', 'id': 17043}",gss_fP6H7XyBitxv8dvPWxEMzZkyuuACuaEE_1,es,atención del personal siempre es inmejorable,La atención del personal siempre es inmejorable,gss_fP6H7XyBitxv8dvPWxEMzZkyuuACuaEE,"{'value': 97.799995, 'outOf': 100}",,0.978,True,Meliá
5,"[{'name': 'stay', 'id': 74489, 'category': {'n...",None,2018-06-01,"{'name': 'Meliá María Pita', 'id': 17043}",gss_GwYbOIqhHV2kaMf-WwUvT5kyrRv8ypiG_1,es,cama de matrimonio y tuvimos que pasar la esta...,Pedí una cama de matrimonio y tuvimos que pasa...,gss_GwYbOIqhHV2kaMf-WwUvT5kyrRv8ypiG,"{'value': 68.2, 'outOf': 100}",,0.682,False,Meliá